@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-primary: #1227F2;
    --color-secondary: #BABFF8;
    --color-heading: #181B1F;
    --color-body: #525252;
    --color-container: #F9F9FF;
    --color-sidebar: #FFFFFF;
    --color-border: #E3E9EE;
    --color-box: #FFFFFF;
  }

  :root[class~="dark"] {
    --color-primary: #00EDBE;
    --color-secondary: #141BEA;
    --color-heading: #EEEEEE;
    --color-body: #BBBBBB;
    --color-container: #171717;
    --color-sidebar: #000000;
    --color-border: #3A3A3A;
    --color-box: #212121;
  }
}

@layer components {
  .button {
    @apply max-md:text-xs text-sm text-primary dark:text-heading border-2 border-primary font-medium rounded-full px-2 md:px-3 py-1 hover:bg-primary hover:text-container dark:hover:text-sidebar disabled:bg-[#B8BABE] disabled:text-[#909295] disabled:border-0;
  }

  .btn-secondary {
    @apply flex items-center justify-center gap-2 rounded-md border border-primary bg-transparent px-3 py-1 text-xs font-medium text-primary hover:bg-primary hover:text-box disabled:border-0 disabled:bg-[#B8BABE] disabled:text-[#909295] xl:text-sm;
  }
}
