/* Common spoiler styles */
.spoiler {
    transition: background-color 0.3s ease;
}

/* Dark theme spoilers */
.dark-theme .spoiler-hidden {
    color: transparent !important;
    background-color: black !important;
}

.dark-theme .spoiler-hidden:hover {
    color: white !important;
    background-color: transparent !important;
}

.dark-theme .spoiler-visible {
    color: inherit;
    /* Inherits from the theme */
    background-color: transparent !important;
}

/* Light theme spoilers */
.light-theme .spoiler-hidden {
    color: transparent !important;
    background-color: white !important;
}

.light-theme .spoiler-hidden:hover {
    color: black !important;
    background-color: transparent !important;
}

.light-theme .spoiler-visible {
    color: inherit;
    /* Inherits from the theme */
    background-color: transparent !important;
}